$dark-blue: #5025a7;
$blue: #7544d6;
$opacity-blue: #7544d67a;
$form-background: #4025774c;
$light-blue: #7544D6;
$lighter-blue: rgb(14, 9, 40);
$light: #dadada;
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400&family=Montserrat:wght@300;400&family=Tilt+Neon&display=swap");

@mixin hovers() {
  transform: scale(1.1);
  color: #fff;
  text-shadow: 0 0 5px $light-blue, 0 0 10px $light-blue,
    0 0 15px $light-blue, 0 0 20px $dark-blue,
    0 0 25px $dark-blue, 0 0 30px $dark-blue;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  background-color: $lighter-blue;
  color: $light;

  .title {
    font-family: "Big Shoulders Display";
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid $light;
    margin-bottom: 2rem;
    padding: 0 1.5rem;
    width: fit-content;
  }

  .button {
    background-color: $dark-blue;
    color: $light;
    font-size: 1.1rem;
    font-family: "Tilt Neon";
    margin-top: 1.5rem;
    padding: 7px;
    border-radius: 30px;
    transition: 0.3s;

    &:hover {
      @include hovers();
    }
  }
}

@import "./scss/header";
@import "./scss/footer";
@import "./scss/presentation";
@import "./scss/skills";
@import "./scss/projects";
@import "./scss/about-me";
@import "./scss/contact";
@import "./scss/main";
@import "./scss/media-querie-xl";
@import "./scss/media-querie-lg";
@import "./scss/media-querie-md";
@import "./scss/media-querie-xs";
@import "./scss/scrollbar";
@import "./scss/change-language-btn"