.sobre-mi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 10rem 2rem 10rem;
  .datos {
    display: flex;
    flex-direction: column;
    font-size: large;
    width: 32vw;
    h1 {
      font-family: "Big Shoulders Display";
      font-size: 4rem;
      letter-spacing: 1px;
    }
    h2 {
      font-family: "Big Shoulders Display";
      font-size: 2.5rem;
      font-weight: 100;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .ubi {
      display: flex;
      align-items: center;
      padding-top: 8px;
      h4 {
        font-weight: 100;
        padding-left: 0.3rem;
      }
    }
  }
  .presenta {
    width: 52vw;
    p {
      padding-bottom: 0.5rem;
      span {
        padding-left: 1.2rem;
      }
    }
  }
}
.button-container{
  display: grid;
  place-content: center;
  padding-bottom: 6rem;
  .button{
    background-color: $dark-blue;
    border-radius: 30px;
    text-decoration: none;
    p{
      text-transform: uppercase;
      font-family: "Tilt Neon";
      color: $light;
      padding: 16px 32px;
      transition: .3s;
      &:hover{
        @include hovers()
    }
    }
  }
}
.habilidades {
    display: flex;
    justify-content: space-evenly;
    padding:  0 0 8rem 0;
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      gap: 1.4rem 3rem;
      max-height: 14rem;
      li {
        list-style-type: none;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        svg {
          margin-right: 5px;
        }
      }
    }
  }
  .aprendiendo{
    display: flex;
    flex-direction: column;
    align-items: center;
    ul{
        display: flex;
        flex-direction: column;
        align-content: center ;
        gap: 1.4rem 3rem;
      li{
            list-style-type: none;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            svg {
                margin-right: 5px;
              }
        }
    }
  }
}
