.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  .presenta {
    margin-top: 1rem;
    :first-child {
      margin-bottom: 8px;
    }
    p {
      font-size: 1.1rem;
      text-align: center;
      width: 600px;
      font-weight: 500;
      span {
        padding-left: 1.2rem;
      }
    }
  }
}

