@media screen and (max-width: 768px) {
  .projects {
    ul {
        li {
            height: 50vw;
            width: 75vw;
        }
    }
  }
  .about-me {
    .presenta {
      p {
        width: 75vw;
      }
    }
  }
  .contact {
    form {
      width: 75vw;
    }
  }
}
