@media screen and (max-width: 576px) {
  header {
    display: flex;
    justify-content: flex-end;
    .nav {
      display: flex;
      list-style-type: none;
    }
    .nav li {
      padding: 1.5rem 0.2rem;
    }
    .nav a {
      color: $light;
      position: relative;
      text-decoration: none;
    }
    .nav {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 3.5rem;
      left: 0;
      background: $light-violet;
      width: 100%;
      transform: translateY(-150%);
      opacity: 0;
      transition: 0.3s ease all;
      padding: 0.8rem 0;
      ul {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
    .nav.open {
      transform: translateY(0) !important;
      opacity: 1;
    }
    .nav.open li {
      padding: 0;
    }
    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      margin: 15px;
    }
    .hamburger span {
      width: 30px;
      height: 2px;
      background: $dark-blue;
      margin: 3px;
      border-radius: 2px;
      transform-origin: 5px 0px;
      transition: all 0.2s linear;
    }
    .hamburger.open > span {
      transform: rotate(45deg) translateY(1px) translateX(2.2px);
    }
    .hamburger.open > span:nth-child(2) {
      opacity: 0;
    }
    .hamburger.open > span:nth-child(3) {
      transform: rotate(-45deg) translatex(-1px);
    }
  }
  .skills {
    .learned {
      ul {
        gap: 1.2rem 2rem;
      }
    }
  }
  .projects {
    ul {
      li {
        margin: 1rem 0;
        height: 60vw;
        width: 90vw;
        .proj-info {
          padding: 0 2rem 1rem 2rem;
          h4 {
            padding-bottom: 0.5rem;
            font-size: 0.9rem;
          }
          p {
            font-size: 0.85rem;
          }
          .links {
            padding-top: 0.5rem;
            a {
              font-size: 0.85rem;
            }
          }
        }
        .proj-info {
          padding: 0 1.2rem 0.7rem 1.2rem;
        }
        &::after {
          background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));
        }
      }
    }
  }
}
