@media screen and (max-width: 768px){
  .proyectos{
    ul{
        li{
            height: 50vw;
            width: 75vw;
        }
    }
  }
  .sobre-mi{
    .presenta{
      p{
        width: 75vw;
      }
    }
  }
  .contacto{
    form{
      width: 75vw;
    }
  }
}
