.presentation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 6rem 0 3rem 0;

  .data {
    font-size: large;
    padding-bottom: 2rem;

    h1 {
      font-family: "Big Shoulders Display";
      font-size: 4.4rem;
      letter-spacing: 1px;
    }

    h2 {
      font-family: "Big Shoulders Display";
      font-size: 2.5rem;
      font-weight: 100;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .ubi {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 8px;

      h4 {
        font-weight: 100;
        padding-left: 0.3rem;
      }
    }
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    padding-bottom: 6rem;

    .button-presentation {
      background-color: $grape;
      border-radius: 100px;
      margin: .5rem;
      text-decoration: none;
      text-transform: uppercase;
      font-family: "Tilt Neon";
      color: $light;
      padding: .8rem 1rem;
      transition: 0.3s;

      &:hover {
        @include hovers();
        @include shadow();
        transform: scale(1.05);
      }

      svg {
        font-size: larger;
      }
    }
  }
}