::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track-piece {
  background-color: $light-blue;
  background-clip: content-box;
  border: solid 4px transparent;
}

::-webkit-scrollbar-track-piece:decrement {
  background: $light;
  background-clip: content-box;
  border: solid 4px transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $blue;
  box-shadow: 0 3px 6px -2px rgba(51, 0, 51, 0.5);
}

::-webkit-scrollbar-corner {
  background: transparent;
}