::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track-piece:decrement {
  background: #2d1c4f;
  background-clip: content-box;
  border: solid 4px #2d1c4f;
}

::-webkit-scrollbar-track-piece {
  background-color: $opacity-violet;
  background-clip: content-box;
  border: solid 4px transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $light-violet;
  box-shadow: 0 3px 6px -2px #33003380;
}

::-webkit-scrollbar-corner {
  background: transparent;
}